body {
  font-size: 14px;
  color: #000000;
  font-family: 'Open Sans', sans-serif; }

.container {
  max-width: 1200px;
  padding: 0 15px;
  margin-left: auto;
  margin-right: auto; }

.header {
  background-image: url(../img/header-bg.jpg);
  background-color: black;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  padding-top: 57px;
  color: white;
  margin-bottom: 113px; }
  .header__row {
    display: flex;
    align-items: center;
    margin-bottom: 216px; }
  .header__logo {
    margin-right: 69px; }
  .header__logo-svg {
    transition: fill 0.2s ease-in; }
  .header__logo-svg:hover {
    fill: #c7c3c3; }
  .header__number {
    margin-left: auto;
    font-family: 'Anton', sans-serif;
    font-size: 17px;
    line-height: 26px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: white;
    transition: color 0.2s ease-in; }
  .header__number:hover {
    color: #c7c3c3; }
  .header__subtitle {
    font-family: 'Anton', sans-serif;
    font-size: 30px;
    line-height: 45px;
    letter-spacing: 0.1em;
    text-transform: uppercase; }
  .header__title {
    margin-top: -5px;
    font-family: 'Anton', sans-serif;
    font-size: 100px;
    line-height: 151px;
    text-transform: uppercase;
    margin-bottom: 20px; }
  .header__btn {
    letter-spacing: 0.1em;
    font-family: 'Anton', sans-serif;
    font-size: 17px;
    line-height: 26px;
    text-transform: uppercase;
    color: white;
    padding: 17px 49px;
    background: none;
    border: 1px solid #FFFFFF;
    transition: color 0.3s ease-in;
    transition: background-color 0.3s ease-in; }
  .header__btn:hover {
    background-color: white;
    color: black; }

.nav ul {
  display: flex;
  font-family: 'Anton', sans-serif;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: 0.1em;
  text-transform: uppercase; }

.nav ul li:not(:last-child) {
  margin-right: 40px; }

.nav a {
  color: white;
  transition: color 0.2s ease-in; }

.nav a:hover {
  color: #c7c3c3; }

@media (max-width: 650px) {
  .header__content {
    text-align: center; }
  .header__title {
    font-size: 80px;
    line-height: 120px; }
  .header__subtitle {
    font-size: 25px; }
  .header__logo {
    margin-right: 0; }
  .header__row {
    flex-direction: column;
    align-self: center;
    justify-content: center;
    text-align: center;
    margin-bottom: 164px; }
  .header__number {
    margin-left: 0; }

  .nav {
    margin-top: 20px;
    margin-bottom: 20px; }

  .nav ul li:not(:last-child) {
    margin-right: 25px; } }
.about {
  margin-bottom: 7px; }
  .about__title {
    font-family: 'Anton', sans-serif;
    font-size: 50px;
    line-height: 75px;
    text-transform: uppercase;
    margin-bottom: 58px; }
  .about__content {
    display: flex;
    margin-bottom: 67px; }
  .about__subtitle {
    font-family: 'Anton', sans-serif;
    font-size: 25px;
    line-height: 38px;
    text-transform: uppercase;
    margin-bottom: 19px; }
  .about__text-01 p {
    max-width: 564px; }
  .about__text-01, .about__text-02 {
    font-family: 'Open Sans';
    font-size: 16px;
    line-height: 26px;
    text-align: justify;
    max-width: 560px;
    overflow: auto; }
  .about__text-01 p + p {
    margin-top: 20px; }
  .about__text-02 p + p {
    margin-top: 20px; }
  .about__text-01 {
    margin-right: 36px;
    max-width: 564px;
    max-height: 146px; }
  .about__text-02 {
    max-width: 560px;
    max-height: 192px; }
  .about__img img:not(:last-child) {
    margin-right: 26px; }
  .about__img-01 {
    height: auto;
    width: 100%;
    max-width: 270px; }
  .about__img-02 {
    height: auto;
    width: 100%;
    max-width: 270px; }
  .about__img-03 {
    height: auto;
    width: 100%;
    max-width: 570px; }

@media (max-width: 1200px) {
  .about__title {
    text-align: center; }
  .about__content {
    flex-direction: column;
    align-items: center; }
  .about__block-left {
    margin-bottom: 20px; }
  .about__text-01 {
    margin-right: 0; }
  .about__img img:not(:last-child) {
    margin-right: 0px; }
  .about__img img:first-child {
    margin-right: 26px;
    margin-bottom: 26px; }
  .about__img {
    text-align: center;
    max-width: 1140px;
    margin-right: auto;
    margin-left: auto; } }
@media (max-width: 650px) {
  .about__img img:first-child {
    margin-right: 0; }
  .about__img img:not(:last-child) {
    margin-bottom: 26px; } }
.footer {
  padding: 107px 0; }
  .footer__row {
    display: flex; }
  .footer__text {
    margin-right: 55px;
    color: #000000; }

@media (max-width: 1200px) {
  .footer__row {
    justify-content: center; } }
@media (max-width: 550px) {
  .footer {
    padding: 80px 0; }
    .footer__row {
      flex-direction: column;
      text-align: center; }
    .footer__text {
      margin-right: 0; }
    .footer__text-wrapper:first-child {
      margin-bottom: 25px; } }
